@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideDown {
	0% {
		opacity: 1;
		transform: translateY(50%);
	}
	100% {
		opacity: 0;
		transform: translateY(0);
	}
}

.animate-slide-up {
	animation: slideUp 0.5s ease-in-out forwards;
}

.animate-slide-down {
	animation: slideDown 0.5s ease-in-out forwards;
}
